body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/estadio2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

